<div id="barra-cabecera">

	<div id="barra-cabecera-lado-izq">
		Escritorio
		<br>
		Tablero de estados y oportunidades
	</div>

	<div id="barra-cabecera-lado-der">

	</div>

</div><!--Fin Barra Cabecera -->