<div class="container-fluid">

    <div class="row">
        <div class="col-md-12 col-sm-3 d-flex justify-content-evenly mb-2 mt-2">
            <a href="#"><i style="border-radius: 10px;" class='p-2 bg-info bx-md  bx bxs-file-archive'></i></a>
            <a href="#"><i style="border-radius: 10px;" class='p-2 bg-info bx-md  bx bxs-id-card'></i></a>
            <a href="#"><i style="border-radius: 10px;" class='p-2 bg-info bx-md  bx bx-color'></i></a>
            <a href="#"><i style="border-radius: 10px;" class='p-2 bg-info bx-md  bx bxs-folder'></i></a>
        </div>

    </div>