<div id="logo">
	<a href="/panel-de-control">
		<img src="/images/migliazza-maquinarias.png" width="100%" />
	</a>
</div><!--Fin de logo -->


<div id="barra-lateral"><!--Comienza Barra Lateral -->

	<div id="bloque-menu-lateral">

		<div id="bloque-menu-unico">
			<div id="titulo-de-bloque-menu">Interacciones</div>

			<div id="item-de-bloque-menu"><i class="fa-solid fa-list-check"></i> <a href="/interacciones"> Ver
					interacciones</a></div>

			<div id="item-de-bloque-menu"><i class="fa-solid fa-people-arrows"></i> <a
					href="/cargar-nueva-interaccion/data-cliente"> Agregar interacción</a></div>

			<div id="item-de-bloque-menu"><i class="fa-solid fa-bars-progress"></i><a href="/tareas">Tareas pendientes
				</a></div>

		</div><!--Fin del bloque del menu unico -->


		<div id="bloque-menu-unico">
			<div id="titulo-de-bloque-menu">Clientes</div>

			<div id="item-de-bloque-menu"><i class="fa-solid fa-user"></i> <a href="/clientes"> Ver clientes</a></div>

			<div id="item-de-bloque-menu"><i class="fa-solid fa-user-plus"></i> <a href="/cargar-cliente">Agregar
					cliente</a></div>

			<div id="item-de-bloque-menu"> <i class="fa-solid fa-magnifying-glass"></i> <a href="/buscar-cliente">Buscar
					cliente</a></div>

		</div><!--Fin del bloque del menu unico -->


		<div id="bloque-menu-unico">
			<div id="titulo-de-bloque-menu">Maquinarias</div>

			<div id="item-de-bloque-menu"><i class="fa-solid fa-rectangle-list"></i> <a href="/maquinarias">Ver
					maquinaria</a></div>

			<div id="item-de-bloque-menu"><i class="fa-solid fa-magnifying-glass"></i> <a href="/buscar-maquinaria">Buscar maquinaria</a>
			</div>

			<div id="item-de-bloque-menu"><i class="fa-solid fa-tags"></i><a href="/tipos-de-maquinarias">Gestionar
					categorías </a></div>

		</div><!--Fin del bloque del menu unico -->

		<div id="bloque-menu-unico">

			<div id="titulo-de-bloque-menu">Usuarios</div>

				<div id="item-de-bloque-menu"><i class="fa-solid fa-user-tie"></i> <a href="/usuarios">Ver usuarios</a>
		 
				</div>



			</div><!--Fin del bloque del menu unico -->

		</div><!--Fin Bloque Menu Lateral -->

	</div><!--Fin Barra Lateral -->